:root {
    --transition: 0.1s linear;
}

/* Classes para tema light e dark */
.theme-light {
    --color-primary: rgb(249, 249, 249);
    --color-secondary: rgb(0, 162, 255);
    --color-secondary-dark: rgb(0, 131, 207);
    --color-text-primary: rgb(51, 51, 51);
    --color-text-title: rgb(255, 255, 255);
    --color-table: rgb(249, 249, 249);
    --color-border: rgb(197, 197, 197);
    --color-border-lighter: rgb(218, 218, 218);
    --color-shadow: rgba(149, 149, 149, 0.40);
    --color-border-darker: rgba(110, 110, 110, 0.550);
    --color-bg-input: rgba(255, 255, 255, 0.253);

}

.theme-dark {
    --color-primary: #292C35;
    --color-secondary: rgb(56, 82, 153);
    --color-secondary-dark: rgb(37, 62, 131);
    --color-text-primary: rgb(255, 255, 255);
    --color-text-title: rgb(255, 255, 255);
    --color-table: rgba(255, 255, 255, 0.020);
    --color-border: rgba(255, 255, 255, 0.671);
    --color-border-lighter: rgba(102, 153, 228, 0.250);
    --color-shadow: rgba(207, 207, 207, 0.3);
    --color-border-darker: rgb(255, 255, 255);
    --color-bg-input: rgb(37, 42, 73);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0px;
}

body {
    background: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    transition: var(--transition);
}

.container {   
    padding-top: 30px;
    width: 400px;
    margin: auto;
    font: 300 10pt Roboto;
}

/* checkbox */
.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background: rgb(94, 94, 94, 94);
    width: 50px;
    height: 26px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 58px;
    
}

.ball {
    background: rgb(255, 255, 255);
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    position: absolute;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball { /* classe checkbox que tiver checked, elemento label imediatamente após ele, classe ball */
    transform: translateX(24px);
}

.fa-moon {
	color: #ffffff;
}

.fa-sun {
	color: #facc00;
}

.header {
    border: solid 1px var(--color-secondary);
    transition: var(--transition);
}

/* header das div */
.panel-heading {
    background: var(--color-secondary);
    color: var(--color-text-title);
    padding: 10px;
    font: 500 12pt Roboto;
    transition: var(--transition);
}

/* header form */
.header .panel-body form .form-group {
    margin: 10px 0;
}

.header .panel-body label {
    color: var(--color-text-primary);
    padding: 5px 15px;
    display: block;
    font: 400 10pt Roboto;
    transition: var(--transition);
}

.header .panel-body .form-group input {
    background: var(--color-bg-input); /* rgba(68, 61, 99, 0.308) rgba(43, 70, 143, 0.356)*/
    color: var(--color-text-primary);
    width: 90%;
    height: 28px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 5px;
    display: block;
    border: solid 1px var(--color-border);
    font: 300 11pt Roboto;
    outline: 0;
    transition: var(--transition);
}

.header .panel-body .form-group input:focus {
    border: solid 1px var(--color-border-darker);
    box-shadow: 0px 0px 5px 0.50px var(--color-shadow);
    transition: 0.2s;
}

.header .panel-body .form-group select {
    background: var(--color-bg-input);
    color: var(--color-text-primary);
    padding: 6px;
    margin-left: 15px;
    border: solid 1px var(--color-border);
    font: 300 12px Roboto;
    outline: 0;
    transition: var(--transition);
}

.header .panel-body .form-group select option {
    font: 300 12px Roboto;
}

.header .panel-body .btn {
    background: var(--color-secondary);
    color: var(--color-text-title);
    width: 80px;
    height: 28px;
    margin: 5px 0px 17px 14px;
    border: none;
    cursor: pointer;
    outline: 0;
    transition: var(--transition);
}

.header .panel-body .btn:hover {
    background: var(--color-secondary-dark);
    transition: 0.2s ease-in-out;
}

/* Tabela */
.res {
    padding-top: 20px;
}

.res .panel-body {
    border: solid 1px var(--color-secondary);
    padding-top: 15px;
    transition: var(--transition);
}

.panel-body table {
    color: var(--color-text-primary);
    width: 92%;
    margin: 15px;
    table-layout: fixed;
    border-collapse: collapse; /* Remover espaçamento entre as células*/
    font: 300 11pt Roboto;
    transition: var(--transition);
}

.panel-body tbody tr:nth-child(odd) { /* Aplicar efeito zebra (even = par, odd = impar) */
    background: var(--color-table);
    border-top: solid 1px var(--color-border-lighter);
    border-bottom: solid 1px var(--color-border-lighter); 
}

.panel-body tbody td {
    padding: 10px;
}

.panel-body img {
    width: 26px;
    height: 18px;
    margin-left: 10px;
    position: absolute;
}